<!DOCTYPE html>

<!-- main template for about me page. Extends to about.html -->

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<meta name="description" content="About Me Page">
  		<meta name="author" content="Oliver Switzer">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">
		<!--[if lt IE 9]>
  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  		<![endif]-->
	</head>

	<body>
		<div id="content">
		 {% block content %}{% endblock %}
		</div>

		<div id="btnbar">
			<a href="https://github.com/oliverswitzer">
				<!-- <div class="btn"> -->
					<img class="btn" src="{{ url_for('static', filename='img/github.png') }}">
				<!-- </div> -->
			</a>
			<a href="http://about.me/oliverswitzer">
				<img class="btn" src="{{ url_for('static', filename='img/aboutme_1.png') }}">
					<!-- <embed src="{{ url_for('static', filename='img/contact.svg') }}" type="image/svg+xml"/>  -->
			
			</a>
			<a href="http://www.linkedin.com/pub/oliver-switzer/56/a08/30">
				<img class="btn" src="{{ url_for('static', filename='img/linkedin2.png') }}"
			</a>

			{% block extrabutton %}{% endblock %}


		</div>

	</body>
</html>